.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    padding: 5px;
  }
  .message__image {
    width: 120px;
  }
  .message__image img{
    width: 100%;
    border: solid 1px #cccccc;
  }
  .message__text  {
    padding: 5px;
  }
  .message__text__name, .message__text__created_at {
    font-size: 12px;
    font-weight: bold;
  }